<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8EliapFOsjueslqBkeRDUPOKIEvn4AS4</string>
	<key>GCM_SENDER_ID</key>
	<string>690089140261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommereceapp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-e337c</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-e337c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690089140261:ios:053049952b3c4839e45fcc</string>
</dict>
</plist>